.container {
  display: flex;
  justify-content: space-between;
  background-color: #30b3bd;
}

.profileIconBtn {
  border: none;
  border-radius: 50%;
}

.profileImage {
  object-fit: cover;
  border-radius: 50%;
}
